<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4" >
  <div class="container">
    <%= link_to 'Algowatch', root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
            <li class="nav-item"><%= link_to 'Fairness Survey', '/comparisons/how_many_pairs', class: 'nav-link' %></li>
           <li class="nav-item"><%= link_to 'Code', "https:github.com/algowatchpenn", class: 'nav-link' %></li>
          <% if user_signed_in? %>
            <li class="nav-item"><%= link_to 'Sign Out',  destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
          <% end %>
          <% if !user_signed_in? %>
            <li class="nav-item"><%= link_to 'Sign Up', '/users/sign_up', class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'Sign In', '/users/sign_in', class: 'nav-link' %></li>
          <% end %>
      </ul>
    </div>
  </div>
</nav>
