<%= form_with(model: comparison, local: true) do |form| %>
  <% if comparison.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comparison.errors.count, "error") %> prohibited this comparison from being saved:</h2>

      <ul>
        <% comparison.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :record_id %>
    <%= form.text_field :record_id %>
  </div>

  <div class="field">
    <%= form.label :record_id %>
    <%= form.text_field :record_id %>
  </div>

  <div class="field">
    <%= form.label :choice %>
    <%= form.number_field :choice %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
