<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @comparison.user_id %>
</p>

<p>
  <strong>Record:</strong>
  <%= @comparison.record_id %>
</p>

<p>
  <strong>Record:</strong>
  <%= @comparison.record_id %>
</p>

<p>
  <strong>Choice:</strong>
  <%= @comparison.choice %>
</p>

<%= link_to 'Edit', edit_comparison_path(@comparison) %> |
<%= link_to 'Back', comparisons_path %>
