<p id="notice"><%= notice %></p>

<p>
  <strong>Crime:</strong>
  <%= @record.crime_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @record.name %>
</p>

<p>
  <strong>First:</strong>
  <%= @record.first %>
</p>

<p>
  <strong>Last:</strong>
  <%= @record.last %>
</p>

<p>
  <strong>Compas screening date:</strong>
  <%= @record.compas_screening_date %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @record.sex %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @record.dob %>
</p>

<p>
  <strong>Age:</strong>
  <%= @record.age %>
</p>

<p>
  <strong>Age cat:</strong>
  <%= @record.age_cat %>
</p>

<p>
  <strong>Race:</strong>
  <%= @record.race %>
</p>

<p>
  <strong>Juv fel count:</strong>
  <%= @record.juv_fel_count %>
</p>

<p>
  <strong>Decile score:</strong>
  <%= @record.decile_score %>
</p>

<p>
  <strong>Juv misd count:</strong>
  <%= @record.juv_misd_count %>
</p>

<p>
  <strong>Juv other count:</strong>
  <%= @record.juv_other_count %>
</p>

<p>
  <strong>Priors count:</strong>
  <%= @record.priors_count %>
</p>

<p>
  <strong>Days b screening arrest:</strong>
  <%= @record.days_b_screening_arrest %>
</p>

<p>
  <strong>C jail in:</strong>
  <%= @record.c_jail_in %>
</p>

<p>
  <strong>C jail out:</strong>
  <%= @record.c_jail_out %>
</p>

<p>
  <strong>C case number:</strong>
  <%= @record.c_case_number %>
</p>

<p>
  <strong>C offense date:</strong>
  <%= @record.c_offense_date %>
</p>

<p>
  <strong>C arrest date:</strong>
  <%= @record.c_arrest_date %>
</p>

<p>
  <strong>C days from compas:</strong>
  <%= @record.c_days_from_compas %>
</p>

<p>
  <strong>C charge degree:</strong>
  <%= @record.c_charge_degree %>
</p>

<p>
  <strong>C charge desc:</strong>
  <%= @record.c_charge_desc %>
</p>

<p>
  <strong>Is recid:</strong>
  <%= @record.is_recid %>
</p>

<p>
  <strong>R case number:</strong>
  <%= @record.r_case_number %>
</p>

<p>
  <strong>R charge degree:</strong>
  <%= @record.r_charge_degree %>
</p>

<p>
  <strong>R offense date:</strong>
  <%= @record.r_offense_date %>
</p>

<p>
  <strong>R charge desc:</strong>
  <%= @record.r_charge_desc %>
</p>

<p>
  <strong>R jail in:</strong>
  <%= @record.r_jail_in %>
</p>

<p>
  <strong>R jail out:</strong>
  <%= @record.r_jail_out %>
</p>

<p>
  <strong>Is violent recid:</strong>
  <%= @record.is_violent_recid %>
</p>

<p>
  <strong>Vr case number:</strong>
  <%= @record.vr_case_number %>
</p>

<p>
  <strong>Vr charge degree:</strong>
  <%= @record.vr_charge_degree %>
</p>

<p>
  <strong>Vr offense date:</strong>
  <%= @record.vr_offense_date %>
</p>

<p>
  <strong>Vr charge desc:</strong>
  <%= @record.vr_charge_desc %>
</p>

<p>
  <strong>Type of assessment:</strong>
  <%= @record.type_of_assessment %>
</p>

<p>
  <strong>Score text:</strong>
  <%= @record.score_text %>
</p>

<p>
  <strong>Screening date:</strong>
  <%= @record.screening_date %>
</p>

<p>
  <strong>V type of assessment:</strong>
  <%= @record.v_type_of_assessment %>
</p>

<p>
  <strong>V decile score:</strong>
  <%= @record.v_decile_score %>
</p>

<p>
  <strong>V score text:</strong>
  <%= @record.v_score_text %>
</p>

<p>
  <strong>V screening date:</strong>
  <%= @record.v_screening_date %>
</p>

<p>
  <strong>In custody:</strong>
  <%= @record.in_custody %>
</p>

<p>
  <strong>Out custody:</strong>
  <%= @record.out_custody %>
</p>

<p>
  <strong>Start:</strong>
  <%= @record.Start %>
</p>

<p>
  <strong>End:</strong>
  <%= @record.end %>
</p>

<p>
  <strong>Event:</strong>
  <%= @record.event %>
</p>

<p>
  <strong>Two year recid:</strong>
  <%= @record.two_year_recid %>
</p>

<p>
  <strong>Age at first arrest:</strong>
  <%= @record.age_at_first_arrest %>
</p>

<p>
  <strong>First arrest:</strong>
  <%= @record.first_arrest %>
</p>

<p>
  <strong>Active supervision:</strong>
  <%= @record.active_supervision %>
</p>

<p>
  <strong>Pending charge:</strong>
  <%= @record.pending_charge %>
</p>

<p>
  <strong>Fta 1:</strong>
  <%= @record.fta_1 %>
</p>

<p>
  <strong>Fta 2:</strong>
  <%= @record.fta_2 %>
</p>

<p>
  <strong>Fta 3:</strong>
  <%= @record.fta_3 %>
</p>

<p>
  <strong>Fta 4:</strong>
  <%= @record.fta_4 %>
</p>

<p>
  <strong>Fta 5:</strong>
  <%= @record.fta_5 %>
</p>

<p>
  <strong>Fta 6:</strong>
  <%= @record.fta_6 %>
</p>

<p>
  <strong>Fta older:</strong>
  <%= @record.fta_older %>
</p>

<p>
  <strong>Prior misdemeanors:</strong>
  <%= @record.prior_misdemeanors %>
</p>

<p>
  <strong>Prior felonies:</strong>
  <%= @record.prior_felonies %>
</p>

<p>
  <strong>Prior misdemeanors last year:</strong>
  <%= @record.prior_misdemeanors_last_year %>
</p>

<p>
  <strong>Prior misdemeanors last two years:</strong>
  <%= @record.prior_misdemeanors_last_two_years %>
</p>

<p>
  <strong>Violent priors:</strong>
  <%= @record.violent_priors %>
</p>

<p>
  <strong>Prior incarcerations:</strong>
  <%= @record.prior_incarcerations %>
</p>

<p>
  <strong>Prior drug convictions:</strong>
  <%= @record.prior_drug_convictions %>
</p>

<p>
  <strong>Current violent charge:</strong>
  <%= @record.current_violent_charge %>
</p>

<p>
  <strong>Current f dtf:</strong>
  <%= @record.current_f_dtf %>
</p>

<p>
  <strong>Employment:</strong>
  <%= @record.Employment %>
</p>

<p>
  <strong>Expects someone:</strong>
  <%= @record.expects_someone %>
</p>

<p>
  <strong>Drug abuse history:</strong>
  <%= @record.drug_abuse_history %>
</p>

<p>
  <strong>Illegal drug use:</strong>
  <%= @record.illegal_drug_use %>
</p>

<p>
  <strong>Current residences:</strong>
  <%= @record.current_residences %>
</p>

<p>
  <strong>Current residence:</strong>
  <%= @record.current_residence %>
</p>

<p>
  <strong>Children spouse or parent:</strong>
  <%= @record.children_spouse_or_parent %>
</p>

<p>
  <strong>Nyc:</strong>
  <%= @record.Nyc %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @record.Telephone %>
</p>

<p>
  <strong>R days from arrest:</strong>
  <%= @record.r_days_from_arrest %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
